@import "tailwindcss";
/* @import "tw-animate-css"; */
@import "aos/dist/aos.css";



@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: #F5F6F6;
  --foreground: #0E1A2F;

  /* --primary: #264C95; */
  --primary: #118f6b;           /* Blue */
  --primary-foreground: #FFFFFF;

  --secondary: #0C6D4F;         /* Green */
  --secondary-foreground: #FFFFFF;

  --accent: #CA1328;            /* Red */
  --accent-foreground: #FFFFFF;

  --muted: #B9C5C8;
  --muted-foreground: #264C95;

  --card: #FFFFFF;
  --card-foreground: #0E1A2F;

  --border: #B9C5C8;
  --input: #B9C5C8;
}


.dark {
  --background: #0E1A2F;        /* deep navy */
  --foreground: #F5F6F6;

  --primary: #3B66C0;           /* lighter brand blue */
  --primary-foreground: #FFFFFF;

  --secondary: #0FA878;         /* brighter brand green */
  --secondary-foreground: #FFFFFF;

  --accent: #FF364A;            /* brighter red for dark UI */
  --accent-foreground: #FFFFFF;

  --muted: #1B2B46;
  --muted-foreground: #B9C5C8;

  --card: #142033;
  --card-foreground: #F5F6F6;

  --border: #2A3D5A;
  --input: #2A3D5A;
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}


@theme {
  --font-inter: "Inter", sans-serif;
  --font-playfair: "Playfair Display", serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--font-playfair);
}

section{
  /* padding-left:20px; */
  /* padding-right: 20px; */
}
.container{
  max-width:1240px;
  margin-left:auto;
  margin-right:auto;
  padding-left:20px;
  padding-right: 20px;  
}



@layer components {
  .nav-underline {
    @apply relative after:absolute after:-bottom-1 after:h-[3px] after:bg-black
    after:transition-all after:duration-300 after:left-1/2 after:w-0
    hover:after:w-full hover:after:left-0;
  }
}

html {
  scroll-behavior: smooth;
}

.rich_text ul{
  list-style: circle;
}

@layer utilities {
  .bg-primary-gradient {
    @apply bg-linear-to-br from-blue-50 to-indigo-50;
  }
  .bg-green-gradient {
    @apply bg-linear-to-br from-green-50 to-green-500;
  }
}


/* *{
  border:1px solid red;
} */